@import url(https://fonts.googleapis.com/css?family=Varela+Round);html {
  padding-top: 7rem;
}

body {
  font-family: 'Varela Round', sans-serif;
}

.nav-welcome {
  padding-top: 1.3rem;
  color: #22e5ff;
}

.nav-link {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar {
  background: #2b303b;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: #fff;
}

.navbar .nav-item {
  padding: 0.8rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .nav-item:hover {
  background: #4b5366;
}

.navbar-nav .logout:hover {
  background: #7a3c38;
}

.dropdown-menu {
  background: #2b303b;
  top: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

.dropdown-item {
  display: inline-block;
  padding: 1em;
  white-space: nowrap;
  border-radius: none;
  background: none;
}

.dropdown-item:hover {
  background: #4b5366;
  color: #fff;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

.nav-login {
  color: #fff;
  margin: 5px 50px 0px 0px;
}

.delete {
  padding: 0.5em;
}

.table-tutor {
  color: #51aa44;
}

.btn-subject {
  margin-right: 15px;
}

.btn-subject input {
  display: none;
}

label .focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.taken {
  background: rgba(219, 107, 107, 0.23);
}

.subject-selected {
  background: rgba(117, 200, 226, 0.15);
}

.assign-students {
  width: 100%;
}

.edit-grade,
.add-grade {
  width: 3.5em;
  padding: 0.25em 0 0.25em 0;
  margin: 0.15em 0em 0.15em 0em;
}

.generating {
  font-family: open-sans, sans-serif;
  font-size: 14px;
  color: #449389;
  font-weight: bold;
}

.mail-notification {
  border-radius: 3px;
  margin: 1em;
  padding: 1em;
}

