@import 'dist/include-media';


body {
    padding-top: 5rem;
}

.navbar {
    background: rgba(#002042, 0.9);
    .item {
        color: #fff;
        &:hover {
            color: #50daff;
        }
        &:first-child
        {
            &:hover {
                color: #fff;
            }
        }
    }
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

// .box {
//     padding: 50px;
//     background: red;
//     @include media(">=desktop") {
//         padding: 5px;
//         background: blue;
//     }
// }

.nav-login {
    color: #fff;
    margin: 5px 50px 0px 0px;
}

.delete {
    padding: 0.5em;
}

.table-tutor {
    color: #51aa44;
}

.btn-subject {
    margin-right: 15px;

    input {
        display: none;
    }
}

label .focus {
  box-shadow: none !important;
}

.taken {
    background: rgba(#db6b6b, 0.23);
}

.subject-selected {
    background: rgba(#75c8e2, 0.15)
}

.assign-students {
    width: 100%;
}
