@import 'dist/include-media';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html {
    padding-top: 7rem;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.nav-welcome {
    padding-top: 1.2rem;
    color: #fff;
}

.nav-link {
    transition: 0.4s;
}

.navbar {
    background: rgb(43,48,59);
    padding: 0;
    margin: 0;
    a {
        color: #fff;
    }
    .nav-item {
        padding: 0.8rem;
        transition: 0.4s;
        &:hover {
            background: #4b5366;
        }
    }
}

.navbar-nav .logout {
    &:hover {
        background: rgb(122, 60, 56);
    }
}

.dropdown-menu {
    background: rgb(43,48,59);
    top: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
}

.dropdown-item {
    display: inline-block;
    padding: 1em;
    white-space: nowrap;
    border-radius: none;
    background: none;
    &:hover {
        background: #4b5366;
        color: #fff;
    }
}


.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

// .box {
//     padding: 50px;
//     background: red;
//     @include media(">=desktop") {
//         padding: 5px;
//         background: blue;
//     }
// }

.nav-login {
    color: #fff;
    margin: 5px 50px 0px 0px;
}

.delete {
    padding: 0.5em;
}

.table-tutor {
    color: #51aa44;
}

.btn-subject {
    margin-right: 15px;

    input {
        display: none;
    }
}

label .focus {
  box-shadow: none !important;
}

.taken {
    background: rgba(#db6b6b, 0.23);
}

.subject-selected {
    background: rgba(#75c8e2, 0.15)
}

.assign-students {
    width: 100%;
}

.edit-grade, .add-grade {
    width: 3.5em;
    padding: 0.25em 0 0.25em 0;
    margin: 0.15em 0em 0.15em 0em;
}

.generating {
    font-family: open-sans, sans-serif;
    font-size: 14px;
    color: rgb(68, 147, 137);
    font-weight: bold;
}

.mail-notification {
    border-radius: 3px;
    margin: 1em;
    padding: 1em;
}
